[submodule "modules/sampler-editor-librarian-dto"]
	path = modules/sampler-editor-librarian-dto
	url = git@github.com:khremeviuc1004/sampler-editor-librarian-dto.git
[submodule "modules/sampler-editor-librarian-client"]
	path = modules/sampler-editor-librarian-client
	url = git@github.com:khremeviuc1004/sampler-editor-librarian-client.git
