
.ant-table {
  font-size: 9px;
  width: 400px;
}

.ant-table-tbody > tr > td {
  height: 5px;
  padding: 4px;
}

.ant-table-thead > tr > th {
  height: 5px;
  padding: 4px;
}

.ant-table-cell {
  padding: 4px !important;
}

.ant-table-title {
  padding: 4px !important;
}

body {
  background-color: black;
}

.ant-row {
  padding-left: 8px;
}

.ant-col {
  width: 250px;
}

.ant-input-number {
  width: 100%;
}

.wide-table-col {
  width: 500px;
}
